*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  body {
    font-family: 'Kalam', sans-serif; /* Use the imported font */
    color: #262626;
    background-color: #c7e4c1;
  }
  
.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
